:root {
  --primary-color: rgb(32, 32, 110);
  --primary-light-color: rgb(59, 59, 195);
  --primary-dark-color: rgb(8, 8, 26);

  --secondary-color: rgb(253, 103, 123);
  --secondary-light-color: rgb(253, 181, 183);
  --secondary-dark-color: rgb(249, 6, 14);

  --info-color: #cba40a;
  --info-light-color: #fad542;
  --info-dark-color: #5d4b05;

  --success-color: #0bc084;

  --danger-color: #fc0606;

  --light-color: #f4f4f4;

  --dark-color: #1f1c1c;
  --dark-light-color: #636978;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.main-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    120deg,
    rgb(0, 0, 0) 0%,
    rgb(32, 32, 110) 57%,
    rgb(2, 55, 80) 100%
  );
}
